
snippet microCI
microCI_1 [label="microCI", shape=roundedbox, icon="https://microci.dev/assets/favicon.png"];
endsnippet

snippet webhook
webhook_1 [label="Webhook", icon="https://github.com/adnanh/webhook/raw/development/docs/logo/logo-128x128.png" ];
endsnippet




