snippet header
# ----------------------------------------------------------------------
# Copyright (C) 2018 Geraldo Ribeiro <geraldo@intmain.io>
# ----------------------------------------------------------------------

endsnippet

snippet footer

# vim: filetype=coffee
endsnippet

# vim: ft=snippets
