snippet :::pikchr
::: pikchr src="/til/pikchr_sample.svg" title="Pikchr sample 01"
topmargin += 1mm
margin = 5mm
arrow right 200% "Markdown" "Source"
box rad 10px "Markdown" "Formatter" "(markdown.c)" fit
arrow right 200% "HTML+SVG" "Output"
arrow <-> down 70% from last box.s
box same "Pikchr" "Formatter" "(pikchr.c)" fit
endsnippet

snippet -
—
endsnippet

snippet --
⸺
endsnippet

snippet ---
⸻
endsnippet

snippet igithub
🚀
endsnippet

snippet iyoutube
▶️
endsnippet

snippet ishell
🐚
endsnippet

snippet ipdf
📔
endsnippet

snippet ibug
🐛
endsnippet

snippet ipin
📌
endsnippet

snippet itip
💡
endsnippet

snippet abbr
--8<-- "includes/abbreviations.md"
endsnippet

snippet til
---
vim: nowrap
title: `!p snip.rv = snip.basename`
date: `date +%Y-%m-%d`
draft: true
tags:
	- t1
	- t2
	- t3
---
::: toc

## Introduction

## References

* []()
endsnippet

snippet tilinclude
::: include bash src/static_src/til/$1

endsnippet

snippet tilyoutube
::: youtube id="$1" title="$2"

endsnippet

snippet tilfixme
::: toc

::: fixme
Add description and examples

endsnippet

snippet tilfigure
::: figure title="" \
src="/til/figure.webp" \
cite="https://url/"

endsnippet

snippet tilcitation
::: citation author="Jack Welch"
Quando o ritmo de mudança dentro da empresa for ultrapassado pelo ritmo da
mudança fora dela, o fim está próximo.

endsnippet

snippet hl
\`\`\`${1:bash}
$2
\`\`\`
endsnippet

snippet bash
\`\`\`bash
$0
\`\`\`
endsnippet

snippet shell
\`\`\`shell
$0
\`\`\`
endsnippet

snippet powershell
\`\`\`powershell
$0
\`\`\`
endsnippet

snippet vue
\`\`\`vue
$0
\`\`\`
endsnippet

snippet img
{{< img src="/img/${1:image.png}" alt="Legenda da imagem" >}}
endsnippet

snippet unsplash
heroBackground: 'https://source.unsplash.com/SIU1Glk6v5k/1600x400'
endsnippet

snippet youtube_2
<div class="videoWrapper">
<iframe width="100%" src="https://www.youtube.com/embed/mO0tNcN_61w" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
endsnippet

snippet api
\`\`\`c++
\`\`\`

*Brief*
: 

*Parameters*
: 

*Return*
: 
endsnippet

# vim: ft=snippets
