snippet header
# ----------------------------------------------------------------------
# Copyright (C) 2018 Geraldo Ribeiro <geraldo@intmain.io>
# ----------------------------------------------------------------------

endsnippet

