snippet ---
# ----------------------------------------------------------------------
# $0
# ----------------------------------------------------------------------
endsnippet

snippet banner
# +-----------------------------------------------------------------------------------------------------+
# |  _      _    _                       __  __ _         _                      _            _         |
# | | |    | |  | |               _     / / / /(_)       | |                    (_)          (_)        |
# | | |__  | |_ | |_  _ __   ___ (_)   / / / /  _  _ __  | |_  _ __ ___    __ _  _  _ __      _   ___   |
# | | '_ \ | __|| __|| '_ \ / __|     / / / /  | || '_ \ | __|| '_ \` _ \  / _\` || || '_ \    | | / _ \  |
# | | | | || |_ | |_ | |_) |\__ \ _  / / / /   | || | | || |_ | | | | | || (_| || || | | | _ | || (_) | |
# | |_| |_| \__| \__|| .__/ |___/(_)/_/ /_/    |_||_| |_| \__||_| |_| |_| \__,_||_||_| |_|(_)|_| \___/  |
# |                  | |                                                                                |
# |                  |_|                                                                                |
# |                                                                                                     |
# +-----------------------------------------------------------------------------------------------------+
endsnippet

snippet header
### ----------------------------------------------------------------------
### Copyright (C) 2017-2023 Geraldo Ribeiro <geraldo@intmain.io>
### ----------------------------------------------------------------------

endsnippet

snippet header_taoker
### ----------------------------------------------------------------------
### Copyright (C) 2017-2023 Geraldo Ribeiro <geraldo-ribeiro@taoker.com.br>
### Copyright (C) 2017-2023 Anderson Sabara <anderson-sabara@taoker.com.br>
### ----------------------------------------------------------------------
endsnippet

snippet header_kashim
### ----------------------------------------------------------------------
### Copyright (C) 2020-2023 Geraldo Ribeiro <geraldo@intmain.io>
### Copyright (C) 2020-2023 Ulisses Massafera <u.massafera@gmail.com>
### Copyright (C) 2020-2023 Eduardo Stetner <edu.stetner@gmail.com>
### ----------------------------------------------------------------------

endsnippet

snippet JUMPTRACE
CXXFLAGS+= -DGR_USE_JUMP_TRACE=1
CXXFLAGS+= -DGR_USE_TRACE_MSG=1
endsnippet

snippet PKG
### ----------------------------------------------------------------------
### Copyright (C) 2017-2023 Geraldo Ribeiro <geraldo@intmain.io>
### ----------------------------------------------------------------------

GR_DEBIAN_PACKAGE_BASENAME=intmain-cxxtest-dev
GR_DEBIAN_PACKAGE_CUSTOMER_APP_ID=
GR_DEBIAN_PACKAGE_DESCRIPTION=CxxTest Testing Framework for C++

include /opt/intmain/dev/$(OS)/usr/share/Gr/scripts/Common/Makefile.include

all:

deps:

clean:

endsnippet

snippet push_doc
push_doc:
	cd doc && git add *.md && git commit -am ":memo:Atualização automática" && git push || echo "Nada para subir"
endsnippet

snippet pull_doc
pull_doc:
	git submodule update --init --recursive --remote --merge
endsnippet

snippet include
include /opt/intmain/dev/${OS}/usr/share/Gr/scripts/Common/Makefile.include
endsnippet

snippet ifeq
ifeq ($(OS),linux)
endif
endsnippet

# vim: ft=snippets
