snippet ---
# ----------------------------------------------------------------------
# $0
# ----------------------------------------------------------------------
endsnippet

snippet header
# ----------------------------------------------------------------------
# Copyright (C) 2017-2020 Geraldo Ribeiro <geraldo@intmain.io>
# ----------------------------------------------------------------------

endsnippet


# vim: ft=snippets
