snippet header
// ----------------------------------------------------------------------
// Copyright (C) 2017-2023 Geraldo Ribeiro <geraldo@intmain.io>
// ----------------------------------------------------------------------

endsnippet

snippet :(
😞
endsnippet

snippet :)
😃
endsnippet

snippet shit
💩
endsnippet

snippet -
—
endsnippet

snippet --
⸺
endsnippet

snippet ---
⸻
endsnippet

snippet til
//-- ---
//-- title: Rust `!p snip.rv = snip.basename`
//-- date: 0000-00-00
//-- draft: false
//-- tags:
//--   - rust
//--   - `!p snip.rv = snip.basename`
//-- ---
//--
//-- ::: toc
//--
//--
//--
//-- ## Possible output
//--
//-- [IMDOC_INCLUDE_FILE txt output/`!p snip.rv = snip.basename`.txt]
//--
//-- ## References
//--
//-- * [title](link)
//-- * [title](link)
//-- * [title](link)
//--
endsnippet

snippet bash
//-- 
//-- \`\`\`bash
//-- $1
//-- \`\`\`
//--
endsnippet
