snippet header
// ----------------------------------------------------------------------
// Copyright (C) 2018-2020 Geraldo Ribeiro <geraldo@intmain.io>
// ----------------------------------------------------------------------

endsnippet

snippet header_taoker
// ----------------------------------------------------------------------
// Copyright (C) 2019-2020 Geraldo Ribeiro <geraldo-ribeiro@taoker.com.br>
// Copyright (C) 2019-2020 Anderson Sabara <anderson-sabara@taoker.com.br>
// ---------------------------------------------------------------------- 

endsnippet

snippet header_kashim
// ----------------------------------------------------------------------
// Copyright (C) 2020-2020 Geraldo Ribeiro <geraldo@intmain.io>
// Copyright (C) 2020-2020 Ulisses Massafera <u.massafera@gmail.com>
// Copyright (C) 2020-2020 Eduardo Stetner <edu.stetner@gmail.com>
// ----------------------------------------------------------------------

endsnippet

# vim: ft=snippets
