snippet header
/* ----------------------------------------------------------------------
 * Copyright (C) 2020 Geraldo Ribeiro <geraldo@intmain.io>
 * ---------------------------------------------------------------------- */

endsnippet


snippet theader
/* ----------------------------------------------------------------------
 * Copyright (C) 2020 Geraldo Ribeiro <geraldo-ribeiro@taoker.com.br>
 * Copyright (C) 2020 Anderson Sabara <anderson-sabara@taoker.com.br>
 * ---------------------------------------------------------------------- */

endsnippet

snippet GrHtml
@import "vars";
@import "GrBase";

// @import "GrDebug";
@import "GrWebServer";
@import "GrTypography";
@import "GrHtmlForm";
@import "GrHtmlMenu";
@import "GrHtmlButton";
@import "GrHtmlLegend";
@import "GrCalendarIcon";
@import "GrHtmlDLDT";
endsnippet

# vim: ft=snippets
