snippet header
/* ----------------------------------------------------------------------
 * Copyright (C) 2020 Geraldo Ribeiro <geraldo@intmain.io>
 * ---------------------------------------------------------------------- */

endsnippet


snippet theader
/* ----------------------------------------------------------------------
 * Copyright (C) 2020 Geraldo Ribeiro <geraldo-ribeiro@taoker.com.br>
 * Copyright (C) 2020 Anderson Sabara <anderson-sabara@taoker.com.br>
 * ---------------------------------------------------------------------- */

endsnippet

# vim: ft=snippets
