snippet bullets "Bullet 1"
► U+25BA Black right-pointing pointer	 
♦ U+2666 Black diamond suit	 
• U+2022 Bullet	 
¶ U+00B6 Pilcrow sign, paragraph sign	 
▬ U+25AC Black rectangle	 
■ U+25A0 Black square	 	
endsnippet
	

