
snippet template
<template>
  <div class="sidebar">
  </div>
</template>
endsnippet

snippet script
<script>
export default {
  props: {},
  setup () {
  }
}
</script>
endsnippet

# vim: ft=snippets
