snippet template
<template>
  <div>
  </div>
</template>
endsnippet

snippet script
<script>
export default {
  name: 'Nome',
  props: {},
  setup () {
  }
}
</script>
endsnippet

snippet style
<style>
</style>
endsnippet

# vim: ft=snippets
